*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

body{
    background-color: #4db6ac;

    .grid-container{
        display: grid;
        justify-content: center;
        align-content: center;
        min-height: 100vh;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: minmax(120px, auto) repeat(5, 100px);

        .output{
            grid-column: 1 / -1;
            background-color: #222;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-around;
            padding: 10px;
            word-wrap: break-word;
            word-break: break-all;
        }

        button{
            cursor: pointer;
            font-size: 2rem;
            border: 1px solid #111;
            outline: none;
            background-color: #111;
            color: #eee;
        }

        .span-two{
            grid-column: span 2;
        }

        .operator{
            background-color: #009688;
        }
    }
}